@charset "UTF-8";
.footer, #header-menu,
#menu-fixed {
  padding: 15px 0;
  z-index: 2;
  background-color: #fd9b9b;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e45954' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.445);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
}

nav ul {
  list-style: none;
}

/**
 * Buttons
 * -------------------------------
 */
.btn, a.btn {
  outline: none;
}

/**
 * Form
 * -------------------------------
 */
.center {
  display: flex;
  justify-content: center;
}

input {
  outline: none;
}

input[type=file] {
  display: none;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

input[type=checkbox] {
  display: none;
}

body {
  background-size: contain;
  background-position: 0 0;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: initial;
}

body > section body > section__title {
  display: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

label.img {
  background-color: #3498db;
  color: #FFF;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px;
  border: 1px solid #CCC;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.445);
  outline: 0;
}

@-webkit-keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@font-face {
  font-family: "Harman Retro";
  src: url("/fonts/Harman-Retro-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Harman Simple";
  src: url("/fonts/Harman-Simple-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Century";
  src: url("/fonts/CenturySchoolbook-Regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Harman Sans";
  src: url("/fonts/Harman-Sans-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/RobotoMono/RobotoMono-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/RobotoMono/RobotoMono-Regular.ttf") format("truetype");
  font-display: swap;
}
body {
  color: #5e6164;
  font-size: 13px;
}

/**
 * Any element that contains __title in the class name
 * --------------------------------
 */
div[class*=__title] * {
  font-family: "Harman Retro";
  font-weight: normal;
  text-transform: lowercase;
  color: #5e6164;
}
div[class*=__title] h1 {
  font-size: 32px;
}
div[class*=__title] h2 {
  font-size: 28px;
}

/**
 * Header
 *---------------------------------
 */
.header {
  /**
  * Input search
  * -----------------------------------------
  */
  /**
  * Options (Nav & Menu hidden)
  * -----------------------------------------
  */
}
.header__search form input[type=search] {
  font-size: 16px;
  color: #5e6164;
}
.header__search form button[type=submit] {
  color: #FFF;
}
.header__search form button[type=submit] i {
  font-size: 18px;
}
.header__options .header-nav__link {
  font-family: "Harman Retro";
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #FFF;
}
.header__options .header-menu {
  font-family: "Roboto Mono";
}
.header__options .header-menu__icon label {
  color: #e45853;
  font-size: 20px;
}
.header__options .header-menu__item p {
  color: #FFF;
  font-family: "Harman Retro";
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.header__options .header-menu__item p span {
  color: #a03430;
}
.header__options .header-menu__item i {
  font-size: 22px;
}
.header__options .header-menu__link {
  text-align: right;
}
.header__options .header-menu__link {
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header__options .header-menu__link:not(p):hover {
  background-color: #ffffff5e;
}
.header.menu-fixed .header-nav__link {
  color: #E45954;
}

/**
 * Button
 *---------------------------------
 */
.btn, a.btn {
  font-family: "Roboto";
}

/**
 * Any element that contains __subtitle in the class name
 * --------------------------------
 */
div[class*=__subtitle] * {
  font-family: "Harman Simple";
  text-align: center;
  color: white;
}
div[class*=__subtitle] h1 {
  font-size: 28px;
}
div[class*=__subtitle] h2 {
  font-size: 22px;
}

/**
 * News
 * --------------------------------------
 */
.news__title {
  text-align: center;
}
.news__title h2 {
  color: white;
}
.news .news-primary__item:visited {
  color: #5e6164;
}
.news .news-primary__description p {
  font-family: "Century";
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
}
.news .news-last {
  font-family: "Harman Retro";
  font-weight: normal;
  text-transform: lowercase;
  text-align: center;
}
.news .news-last__item:visited {
  color: #5e6164;
}
.news .news-last__item:hover {
  color: #c9315e;
}
.news .news-last__time, .news .news-last__portions {
  font-size: 15px;
}

/**
 * Recipe
 * --------------------------------------
 */
.recipe__title {
  text-align: center;
}
.recipe__title h1,
.recipe__title h2 {
  color: white;
}
.recipe ul li,
.recipe ol li {
  font-family: "Century";
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}

/**
 * Login
 * --------------------------------------
 */
.login__title,
.register__title {
  text-align: center;
}

.login-content__or h2 {
  color: #878787;
}
.login-content .login__form input:not([type=submit]) {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  color: #5e6164;
}
.login-content .login__request a {
  font-family: "Roboto";
}
.login-content .register__subtitle p {
  font-weight: normal;
  font-family: "Roboto";
  font-size: 16px;
  color: #5e6164;
}

#header-menu ul,
#menu-fixed ul {
  list-style: none;
}

.header {
  /**
  * Logo
  * -----------------------------------------
  */
  /**
  * Input search
  * -----------------------------------------
  */
  /**
  * Options (Nav & Menu hidden)
  * -----------------------------------------
  */
}
.header:not(.menu-fixed) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.header__logo img {
  width: 140px;
}
.header__search form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.151);
}
.header__search form input,
.header__search form button {
  outline: none;
  border: none;
  height: 50px;
}
.header__search form input[type=search] {
  width: 400px;
  padding-left: 15px;
}
.header__search form button[type=submit] {
  width: 60px;
  cursor: pointer;
  background-color: #e45853;
  border-radius: 0 3px 3px 0;
}
.header__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__options .header-nav__link {
  margin-right: 45px;
  position: relative;
}
.header__options .header-nav__link--active::before {
  content: "";
  position: absolute;
  background-color: #E45954;
  width: 100%;
  left: 0;
  bottom: -7px;
  height: 6px;
  transform: -50%, -50%;
  border-radius: 3px;
}
.header__options .header-menu {
  position: absolute;
  top: 0;
  right: -900px;
  display: none;
  opacity: 0;
  width: 250px;
  background-color: #FFF;
  -webkit-animation: fade 0.5s ease-out;
          animation: fade 0.5s ease-out;
  box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.322);
  background-color: #fd9b9b;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e45954' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
  transition: 0.39s ease;
}
.header__options .header-menu__icon label {
  padding: 12px 20px;
  cursor: pointer;
  background-color: #FFF;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.151);
}
.header__options .header-menu__user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0 10px;
  background-color: rgba(228, 89, 84, 0.39);
}
.header__options .header-menu__logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
  border: 2px solid #FFF;
}
.header__options .header-menu__logo img {
  width: 200px;
}
.header__options .header-menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__options .header-menu__item p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 60px;
  align-items: center;
  cursor: default;
  background-color: #e4595463;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.199);
}
.header__options .header-menu__item p span {
  margin-left: 5px;
}
.header__options .header-menu__item p::after {
  background-image: url("/img/shape2.png");
  background-size: 100% 100%;
  background-position: center;
  bottom: 0;
  content: "";
  height: 1rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.header__options .header-menu__item i {
  margin-left: 5px;
}
.header__options .header-menu__item:nth-child(2) {
  margin-top: 20px;
}
.header__options .header-menu__link {
  display: block;
  position: relative;
  width: 100%;
  padding: 25px;
}
.header__options .header-menu__link:not(p):hover {
  background-color: #ffffff5e;
}
.header__options .header-menu *::-moz-selection {
  background-color: transparent;
  color: inherit;
}
.header__options .header-menu *::selection {
  background-color: transparent;
  color: inherit;
}
.header.menu-fixed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header.menu-fixed .header-nav__link {
  color: #E45954;
}
.header.menu-fixed .header__logo img {
  width: 100px;
}

/**
 * Menu fixed
 * -----------------------------------------
 */
#menu-fixed {
  position: fixed;
  width: 100%;
  top: -150px;
  transition: 0.4s ease-out;
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e45954' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.418);
  z-index: 1;
  padding: 10px 0;
}

#check-menu:checked ~ #menu-hidden,
#check-menu-fixed:checked ~ #menu-hidden {
  display: block;
  right: 0;
  opacity: 1;
}

/*! Submenu  */
.submenu {
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e45954' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.555);
}
.submenu nav ul {
  list-style: none;
  display: flex;
  position: relative;
}
.submenu nav ul li a {
  display: block;
  padding: 20px 70px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Harman Retro";
  letter-spacing: 0.1rem;
  color: #3a3a3a;
  font-size: 1rem;
  transition: 0.2s opacity;
  opacity: 0.8;
}
.submenu nav ul li a:hover {
  opacity: 1;
}
.submenu nav ul li:first-of-type::after {
  content: "";
  background: transparent;
}
.submenu nav ul li::after {
  content: "";
  height: 20px;
  width: 1px;
  position: absolute;
  top: 26px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.096);
}

.footer {
  margin-top: auto;
  box-shadow: 0px 0px 6px;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
}
.footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .copyright h2 {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

/*! Form  */
main.form {
  margin-bottom: 0;
}

main.form .container {
  padding-bottom: 50px;
}

main.form form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}

.row .col {
  margin-right: 20px;
}

.row .col:nth-last-child(1) {
  margin-right: 0;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main.form input[type=text],
main.form input[type=password],
main.form input[type=email] {
  width: 200px;
  height: 45px;
  padding-left: 5px;
}

main.form textarea {
  padding-top: 5px;
  padding-left: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #646464;
  outline: none;
  width: 900px !important;
  font-family: sans-serif;
  line-height: 20px;
}

main.form label {
  margin-bottom: 5px;
}

main.form label.img {
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

label.img:hover {
  background: #1f87cc;
}

main.form input[type=submit] {
  width: 150px;
  height: 45px;
  border: none;
  background-color: #ca315f;
  border: 1px solid #e9e9e9;
  color: #FFF;
  cursor: pointer;
  outline: none;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0px 0px 3px #8d8d8d;
  transition: 0.3s;
}

main.form input[type=submit]:hover {
  background-color: #c94d72;
}

.btn, a.btn {
  display: block;
  text-align: center;
  width: 150px;
  height: 45px;
  background-color: #b9413d;
  border-radius: 30px;
  border: none;
  color: #FFF;
  cursor: pointer;
  box-shadow: 0px 0px 0.3rem #8c8c8c;
  transition: 0.3s filter ease, 0.3s box-shadow ease;
  font-size: 15px;
}
.btn:hover {
  filter: saturate(1.2);
  box-shadow: 0px 0px 0.7rem #bfbfbf;
}

a.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*! Banner  */
#slider {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;
}

.banner img {
  background-size: cover;
  background-position: center;
}

.banner::after {
  content: "";
  position: absolute;
  background: url("/img/wave.png") top center;
  height: 8px;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*jssor slider loading skin double-tail-spin css*/
.jssorl-004-double-tail-spin img {
  -webkit-animation-name: jssorl-004-double-tail-spin;
          animation-name: jssorl-004-double-tail-spin;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes jssorl-004-double-tail-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes jssorl-004-double-tail-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*jssor slider bullet skin 031 css*/
.jssorb031 {
  position: absolute;
}

.jssorb031 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb031 .i .b {
  fill: #000;
  fill-opacity: 0.6;
  stroke: #fff;
  stroke-width: 1600;
  stroke-miterlimit: 10;
  stroke-opacity: 0.8;
}

.jssorb031 .i:hover .b {
  fill: #fff;
  fill-opacity: 1;
  stroke: #000;
  stroke-opacity: 1;
}

.jssorb031 .iav .b {
  fill: #fff;
  stroke: #000;
  stroke-width: 1600;
  fill-opacity: 0.6;
}

.jssorb031 .i.idn {
  opacity: 0.3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

.jssora051:hover {
  opacity: 0.8;
}

.jssora051.jssora051dn {
  opacity: 0.5;
}

.jssora051.jssora051ds {
  opacity: 0.3;
  pointer-events: none;
}

/**
 * News (destaques)
 * ------------------------------------
 */
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  background-color: white;
}
.news__title {
  position: relative;
  margin-bottom: 70px;
}
.news__title h1,
.news__title h2 {
  display: inline-block;
  background-color: #e45853;
  padding: 5px 15px;
  border-radius: 30px;
}
.news__title::after, .news__title::before {
  content: "";
  width: 60%;
  border-bottom: 1px solid rgba(176, 54, 54, 0.82);
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.news__title::before {
  margin-left: -100%;
  margin-right: 10px;
}
.news__title::after {
  margin-right: -100%;
  margin-left: 10px;
}
.news__recipes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.news .news-primary {
  width: 735px;
}
.news .news-primary__item, .news .news-primary__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.news .news-primary__image img {
  width: 710px;
  height: 400px;
  border-radius: 30px;
  transition: 0.3s transform ease;
}
.news .news-primary__title h2 {
  position: relative;
  margin: 15px 0 15px;
  margin-left: 10px;
}
.news .news-primary__title h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: 100%;
  width: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #c9315e;
}
.news .news-primary__description p {
  padding: 0 10px;
}
.news .news-primary:hover img {
  transform: scale(1.005);
}
.news .news-last__item {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  cursor: pointer;
  transition: 0.3s color ease;
  margin-bottom: 20px;
  text-decoration: none;
  transition: 0.3s transform ease;
  box-shadow: 0px 3px 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
.news .news-last__item:not(:nth-last-child(1)) {
  margin-bottom: 10px;
}
.news .news-last__item:hover {
  transform: scale(1.006);
}
.news .news-last__header {
  height: 150px;
}
.news .news-last__image img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .news-last__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #fcfcfc;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 250px;
}
.news .news-last__prepare, .news .news-last__time, .news .news-last__portions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.news .news-last__prepare i, .news .news-last__time i, .news .news-last__portions i {
  margin-right: 5px;
}
.news .news-last__prepare {
  margin-top: 20px;
}
.news .news-last__time {
  margin-right: 15px;
}

/**
 * Categories
 * ------------------------------------
 */
/**
 *--------------------------------
 * Profile
 *--------------------------------
 */
main.profile .row {
  margin-top: 20px;
}
main.profile .row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 0.4rem rgba(0, 0, 0, 0.12);
  background-color: #fff;
}
main.profile .row .profile-user {
  justify-content: initial;
  align-items: center;
  width: 25%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e45954' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
  overflow-x: hidden;
}
main.profile .row .profile-user .profile-description {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160%;
  background-color: #fd9b9b;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e45954' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
  position: relative;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
main.profile .row .profile-user .profile-description > img.profile-image {
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 10px;
}
main.profile .row .profile-user .profile-description > p.profile-username {
  text-align: center;
  font-size: 20px;
  font-family: "Roboto Mono";
  letter-spacing: -0.05rem;
  color: #FFF;
  border-top: 1px solid rgba(255, 255, 255, 0.199);
  width: 100%;
  margin-top: 10px;
  padding: 10px 0 25px;
}
main.profile .row .profile-user .profile-menu {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}
main.profile .row .profile-user .profile-menu nav,
main.profile .row .profile-user .profile-menu ul,
main.profile .row .profile-user .profile-menu li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.profile .row .profile-user .profile-menu ul {
  list-style: none;
}
main.profile .row .profile-user .profile-menu ul .profile-link {
  flex-direction: row;
  cursor: pointer;
}
main.profile .row .profile-user .profile-menu ul .profile-link a {
  width: 100%;
  white-space: nowrap;
  padding: 15px 0;
  text-align: center;
  font-size: 17px;
  color: #5e6164;
}
main.profile .row .profile-user .profile-menu ul .profile-link a i {
  padding-right: 5px;
}
main.profile .row .profile-user .profile-menu ul .profile-link:hover {
  background-color: silver;
}
main.profile .row .profile-content {
  width: 75%;
  height: 600px;
  margin-left: 20px;
}

.login-content .container {
  margin-top: 70px;
  align-items: center;
}
.login-content .login,
.login-content .register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  height: 515px;
  padding: 0 100px;
}
.login-content .login__title,
.login-content .register__title {
  margin-bottom: 60px;
}
.login-content .login__form label {
  margin-bottom: 5px;
}
.login-content .login__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-content .login__form input:not([type=submit]) {
  height: 45px;
  width: 300px;
  padding: 0 15px;
  border: 1px solid #e45853;
  border-radius: 10px;
  transition: 0.3s box-shadow ease;
}
.login-content .login__form input:not([type=submit]):focus {
  box-shadow: 0px 0px 0.4rem #e45853;
}
.login-content .login button[type=submit] {
  margin-top: 20px;
}
.login-content .login__request {
  margin-top: 10px;
}
.login-content__or {
  margin: 0 50px;
}
.login-content .register__content {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  height: 314px;
}
.login-content .register a {
  margin-top: 50px;
}
.login-content .register__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  background-color: #fcfcfc;
}

.register-content .container {
  margin-top: 70px;
  align-items: center;
}
.register-content .register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  padding: 70px 100px;
}
.register-content .register__title {
  margin-bottom: 60px;
}
.register-content .register button[type=submit] {
  margin-top: 20px;
}
.register-content .register__request {
  margin-top: 10px;
}
.register-content .register__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-content .register__form input:not([type=submit]) {
  height: 45px;
  width: 300px;
  padding: 0 15px;
  border: 1px solid #e45853;
  border-radius: 10px;
  background-color: #fcfcfc;
  transition: 0.3s box-shadow ease;
}
.register-content .register__form input:not([type=submit]):focus {
  box-shadow: 0px 0px 0.4rem #e45853;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  background-color: white;
}
.recipe__title {
  position: relative;
}
.recipe__title h1,
.recipe__title h2 {
  display: inline-block;
  background-color: #e45853;
  padding: 5px 15px;
  border-radius: 30px;
}
.recipe__title::after, .recipe__title::before {
  content: "";
  width: 20%;
  border-bottom: 1px solid rgba(176, 54, 54, 0.82);
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.recipe__title::before {
  margin-left: -100%;
  margin-right: 10px;
}
.recipe__title::after {
  margin-right: -100%;
  margin-left: 10px;
}
.recipe__ingredients h2::after {
  content: "";
  font-family: Font;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  margin-left: 10px;
}
.recipe__subtitle {
  margin: 35px auto;
  padding: 5px;
  border-radius: 30px;
}
.recipe__image img {
  margin-top: 70px;
  border-radius: 30px;
  box-shadow: 0px 2px 0.2rem #9e9e9e;
  width: 710px;
  height: 400px;
}
.recipe__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 710px;
}
.recipe__instructions .recipe__subtitle {
  background-color: #ffae00;
}
.recipe__instructions h2::after {
  content: "";
  font-family: Font;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  margin-left: 10px;
}
.recipe__ingredients .recipe__subtitle {
  background-color: #a7c76b;
}
.recipe ul,
.recipe ol {
  background-color: #fcfcfc;
  border-radius: 30px;
  padding: 30px;
  padding-left: 50px;
}
.recipe ul li:not(:nth-last-child(1)),
.recipe ol li:not(:nth-last-child(1)) {
  margin-bottom: 10px;
}
.recipe__icon {
  margin: 70px 0;
}
.recipe__icon i {
  padding: 35px;
  border-radius: 30px;
  background-color: #FCFCFC;
  font-size: 50px;
  color: #5e5e5e;
}

/*! Receitas */
main.receitas .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

main.receitas article {
  margin-top: 60px;
  margin-left: 20px;
  cursor: pointer;
}

main.receitas article header {
  position: relative;
  display: flex;
}

main.receitas article header h2 {
  margin-left: 10px;
  color: #FFF;
  position: relative;
}

main.receitas article header span {
  height: 23px;
  width: 6px;
  position: absolute;
  left: -10px;
}

.receitas-category {
  text-align: right;
}

.receitas-info {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.receitas-info h2 {
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 5px;
}

.receitas-header div {
  display: flex;
}

.receitas-category {
  border: 1px solid;
  padding: 3px;
  margin-right: 2px;
  font-weight: bold;
}

.receitas-img {
  width: 400px;
  height: 224.219px;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 1px #6d6d6d;
  border: 1px solid #FFF;
  margin-bottom: 5px;
  overflow: hidden;
  transition: all 2s ease;
}

main.receitas article:hover .receitas-img {
  transform: scale(1.0111) rotate(0.2deg);
}

::-moz-selection {
  background-color: rgba(228, 53, 53, 0.534);
  color: #FFF;
}

::selection {
  background-color: rgba(228, 53, 53, 0.534);
  color: #FFF;
}
