.register-content {
    .container {
        margin-top: 70px;
        align-items: center
    }

    .register {
        @include d-flex;
        align-items: center;
        border-radius: 30px;
        background: #fff;
        padding: 70px 100px;

        &__title {
            margin-bottom: 60px;
        }

        button[type="submit"] {
            margin-top: 20px;
        }

        &__request {
            margin-top: 10px;
        }

        &__form {
            form {
                @include d-flex(column, center);
                align-items: center;
            }

            input:not([type="submit"]) {
                height: 45px;
                width: 300px;
                padding: 0 15px;
                border: 1px solid $primary-bg__color;
                border-radius: 10px;
                background-color: $primary-body-bg__color;
                transition: 0.3s box-shadow ease;

                &:focus {
                    box-shadow: 0px 0px .4rem $primary-bg__color;
                }
            }
        }
    }
}
