.footer {
    @extend %blocks;
    margin-top: auto;
    box-shadow: 0px 0px 6px;
}

.footer {
    height: 50px;
    display: flex;
    align-items: center;

    .copyright {
        @include d-flex(row, center);
        align-items: center;

        h2 {
            color: #fff;
            font-size: 15px;
            font-weight: normal;
        }
    }
}
