#header-menu,
#menu-fixed {
    @extend %blocks;

    ul {
        list-style: none;
    }
}

.header {
    &:not(.menu-fixed) {
        width: 100%;
        @include d-flex($direction: row, $justify: space-between);
        align-items: center;
    }

    /**
    * Logo
    * -----------------------------------------
    */

    &__logo img {
        width: 140px;
    }

    /**
    * Input search
    * -----------------------------------------
    */

    &__search form {
        @include d-flex(row);
        align-items: center;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.151);

        input,
        button {
            outline: none;
            border: none;
            height: 50px;
        }

        input[type="search"] {
            width: 400px;
            padding-left: 15px;
        }

        button[type="submit"] {
            width: 60px;
            cursor: pointer;
            background-color: $primary-bg__color;
            border-radius: 0 3px 3px 0;
        }
    }

    /**
    * Options (Nav & Menu hidden)
    * -----------------------------------------
    */

    &__options {
        @include d-flex(row, space-between);
        align-items: center;

        .header-nav {
            &__link {
                margin-right: 45px;
                position: relative;

                &--active::before {
                    content: '';
                    position: absolute;
                    background-color: #E45954;
                    width: 100%;
                    left: 0;
                    bottom: -7px;
                    height: 6px;
                    transform: -50%, -50%;
                    border-radius: 3px;
                }
            }
        }

        .header-menu {
            position: absolute;
            top: 0;
            right: -900px;
            display: none;
            opacity: 0;
            width: 250px;
            background-color: #FFF;
            animation: fade 0.5s ease-out;
            box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.322);
            background-color: $primary-header-bg__color;
            background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e45954' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
            transition: .39s ease;

            &.menu-active {
                display: block;
                right: 0;
                opacity: 1;
            }

            &__icon label {
                padding: 12px 20px;
                cursor: pointer;
                background-color: #FFF;
                box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.151);
            }

            &__user {
                @include d-flex($direction: row);
                padding: 40px 0 10px;
                background-color: rgba(228, 89, 84, 0.39);
            }

            &__logo {
                border-radius: 50%;
                width: 200px;
                height: 200px;
                background-color: #FFF;
                overflow: hidden;
                position: relative;
                border: 2px solid #FFF;

                img {
                    width: 200px;
                }
            }

            &__item {
                @include d-flex(column, center);
                align-items: center;
                width: 100%;

                p {
                    @include d-flex($direction: row);
                    width: 100%;
                    height: 60px;
                    align-items: center;
                    cursor: default;
                    background-color: #e4595463;
                    position: relative;
                    border-top: 1px solid rgba(255, 255, 255, 0.199);

                    span {
                        margin-left: 5px;
                    }

                    &::after {
                        background-image: url("/img/shape2.png");
                        background-size: 100% 100%;
                        background-position: center;
                        bottom: 0;
                        content: '';
                        height: 1rem;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        z-index: 1000;
                    }
                }

                i {
                    margin-left: 5px;
                }

                &:nth-child(2) {
                    margin-top: 20px;
                }
            }

            &__link {
                display: block;
                position: relative;
                width: 100%;
                padding: 25px;

                &:not(p):hover {
                    background-color: #ffffff5e;
                }
            }

            *::selection {
                background-color: transparent;
                color: inherit;
            }
        }
    }

    &.menu-fixed {
        @include d-flex(row, space-between);
        align-items: center;

        .header-nav__link {
            color: #E45954;
        }

        .header__logo img {
            width: 100px;
        }
    }
}

/**
 * Menu fixed
 * -----------------------------------------
 */

#menu-fixed {
    position: fixed;
    width: 100%;
    top: -150px;
    transition: .4s ease-out;
    background-color: #FFF;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e45954' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.418);
    z-index: 1;
    padding: 10px 0;
}
