body {
    background-size: contain;
    background-position: 0 0;
    background-color: $primary-body-bg__color;
    @include d-flex(column, initial);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

label.img {
    background-color: #3498db;
    color: #FFF;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 3px  rgba(0, 0, 0, 0.445);
    outline: 0;
}
