@font-face {
    font-family: 'Harman Retro';
    src: url('/fonts/Harman-Retro-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harman Simple';
    src: url('/fonts/Harman-Simple-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century';
    src: url('/fonts/CenturySchoolbook-Regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harman Sans';
    src: url('/fonts/Harman-Sans-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
    font-display: swap;
}

body {
    color: $primary-font__color;
    font-size: 13px;
}

/**
 * Any element that contains __title in the class name
 * --------------------------------
 */

div[class*="__title"] {
    * {
        font-family: 'Harman Retro';
        font-weight: normal;
        text-transform: lowercase;
        color: $primary-font__color;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }
}

/**
 * Header
 *---------------------------------
 */

.header {

    /**
    * Input search
    * -----------------------------------------
    */
    &__search form {
        input[type="search"] {
            font-size: 16px;
            color: $primary-font__color;
        }


        button[type="submit"] {
            color: #FFF;

            i {
                font-size: 18px;
            }
        }
    }

    /**
    * Options (Nav & Menu hidden)
    * -----------------------------------------
    */

    &__options {
        .header-nav {
            &__link {
                font-family: "Harman Retro";
                letter-spacing: .1rem;
                font-weight: bold;
                font-size: 1.1rem;
                text-transform: uppercase;
                color: #FFF;
            }
        }

        &__item {
            .header-menu {
                &__icon label {
                    color: $primary-bg__color;
                    font-size: 20px;
                }

                &__item {
                    p {
                        color: #FFF;
                        font-family: 'Roboto';
                        text-align: center;

                        span {
                            color: #a03430;
                        }
                    }

                    i {
                        font-size: 22px;
                    }
                }

                &__link {
                    text-align: right;

                    & {
                        color: #FFF;
                        font-family: 'Roboto Mono';
                        font-size: 1rem;
                        font-weight: bold;
                        text-decoration: none;
                        text-transform: uppercase;
                    }

                    &:not(p):hover {
                        background-color: #ffffff5e;
                    }
                }
            }
        }
    }

    &.menu-fixed {
        .header-nav__link {
            color: #E45954;
        }
    }
}


/**
 * Button
 *---------------------------------
 */

.btn {
    font-family: 'Roboto';
}

/**
 * Any element that contains __subtitle in the class name
 * --------------------------------
 */

div[class*="__subtitle"] {
    * {
        font-family: 'Harman Simple';
        text-align: center;
        color: hsl(0, 0%, 100%);
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }
}

/**
 * News
 * --------------------------------------
 */

 .news {
    &__title {
        text-align: center;

        h2 {
            color: hsl(0, 0%, 100%);
        }
    }

    .news-primary {
        &__item {
            &:visited {
                color: $primary-font__color
            }
        }

        &__description {
            p {
                font-family: 'Century';
                font-size: 18px;
                font-weight: normal;
                line-height: 20px;
            }
        }
    }

    .news-last {
        font-family: 'Harman Retro';
        font-weight: normal;
        text-transform: lowercase;
        text-align: center;

        &__item {
            &:visited {
                color: $primary-font__color;
            }

            &:hover {
                color: $primary-btn-bg__color;
            }
        }

        &__time,
        &__portions {
            font-size: 15px;
        }

    }
 }

/**
 * Recipe
 * --------------------------------------
 */

.recipe {
    &__title {
        text-align: center;

        h1,
        h2 {
            color: hsl(0, 0%, 100%);
        }
    }

    ul,
    ol {
        li {
            font-family: 'Century';
            font-size: 18px;
            font-weight: normal;
            line-height: 28px;
        }
    }
}

/**
 * Login
 * --------------------------------------
 */

.login,
.register {
    &__title {
        text-align: center;
    }
}

.login-content {
    &__or h2 {
        color: hsl(0, 0%, 53%);
    }

    .login {
        &__form {
            input:not([type="submit"]) {
                font-family: 'Roboto';
                font-weight: normal;
                font-size: 16px;
                color: $primary-font__color;
            }
        }

        &__request a {
            font-family: 'Roboto';
        }
    }

    .register {
        &__subtitle {
            p {
                font-weight: normal;
                font-family: 'Roboto';
                font-size: 16px;
            }
        }
    }
}
