@font-face {
    font-family: 'Harman Retro';
    src: url('/fonts/Harman-Retro-webfont.eot');
    src: url('/fonts/Harman-Retro-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Harman-Retro-webfont.woff2') format('woff2'),
         url('/fonts/Harman-Retro-webfont.woff') format('woff'),
         url('/fonts/Harman-Retro-webfont.ttf') format('truetype'),
         url('/fonts/Harman-Retro-webfont.svg#harmanretro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harman Simple';
    src: url('/fonts/Harman-Simple-webfont.eot');
    src: url('/fonts/Harman-Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Harman-Simple-webfont.woff2') format('woff2'),
         url('/fonts/Harman-Simple-webfont.woff') format('woff'),
         url('/fonts/Harman-Simple-webfont.ttf') format('truetype'),
         url('/fonts/Harman-Simple-webfont.svg#harmansimple') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century';
    src: url('/fonts/CenturySchoolbook-Regular-webfont.eot');
    src: url('/fonts/CenturySchoolbook-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CenturySchoolbook-Regular-webfont.woff2') format('woff2'),
         url('/fonts/CenturySchoolbook-Regular-webfont.woff') format('woff'),
         url('/fonts/CenturySchoolbook-Regular-webfont.ttf') format('truetype'),
         url('/fonts/CenturySchoolbook-Regular-webfont.svg#century_schoolbook_fsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lora', serif;
    font-size: 13px;
    color: $primary-font__color;
}

/**
 * News
 * --------------------------------------
 */

 .news {
    &__title {
        text-align: center;

        h1,
        h2 {
            font-family: 'Harman Retro';
            font-size: 32px;
            font-weight: normal;
            text-transform: lowercase;
            color: hsl(0, 0%, 100%);
        }
    }

    .news-primary {
        &__item {
            &:visited {
                color: $primary-font__color
            }
        }

        &__title {
            h2 {
                font-family: 'Harman Retro';
                font-size: 28px;
                font-weight: normal;
                text-transform: lowercase;
                color: $primary-font__color;
            }
        }


        &__description {
            p {
                font-family: 'Century';
                font-size: 18px;
                font-weight: normal;
                line-height: 20px;
            }
        }
    }

    .news-last {
        font-family: 'Harman Retro';
        font-weight: normal;
        text-transform: lowercase;
        text-align: center;

        &__item {
            &:visited {
                color: $primary-font__color;
            }

            &:hover {
                color: $primary-btn-bg__color;
            }
        }

        &__time,
        &__portions {
            font-size: 15px;
        }

    }
 }

/**
 * Recipe
 * --------------------------------------
 */

.recipe {
    &__title {
        text-align: center;

        h1,
        h2 {
            font-family: 'Harman Retro';
            font-size: 32px;
            font-weight: normal;
            text-transform: lowercase;
            color: hsl(0, 0%, 100%);
        }
    }

    &__subtitle {
        h2 {
            font-family: 'Harman Simple';
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            text-shadow: 1px 1px 1px hsla(0, 0%, 20%, 0.459);
            color: hsl(0, 0%, 100%);
        }
    }

    ul,
    ol {
        li {
            font-family: 'Century';
            font-size: 18px;
            font-weight: normal;
            line-height: 28px;
        }
    }
}

