// Colors
$primary-bg__color: hsl(0, 96%, 80%);
$primary-body-bg__color: hsl(0, 0%, 99%);

// Fonts
$primary-font__color:  hsl(210, 3%, 38%);
$primary-selection-bg__color: rgba(228, 53, 53, 0.534);

// Forms
$primary-btn-bg__color: hsl(342, 61%, 49%);
$primary-btn-bg__color_hover: hsl(342, 53%, 55%);
