// Colors
$primary-bg__color: #fd9a9a;
$primary-body-bg__color: #fcfcfc;
$primary-font__color:  #343434;
$primary-selection-bg__color: rgba(228, 53, 53, 0.534);

// Forms
$primary-btn-bg__color: rgb(202, 49, 95);
$primary-btn-bg__color_hover: rgb(201, 77, 114);
