.profile-content {
    .my-recipes {

        &__list {
            margin-top: 100px;

            ul {
                list-style: none;
            }

            .my-recipes-item {
                $self: '.my-recipes-item';

                position: relative;
                cursor: pointer;
                width: 200px;
                overflow: hidden;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;

                &__image img {
                    transition: 0.3s transform linear;
	                will-change: transform;
                    width: 220px;
                    height: 280px;
                    object-fit: cover;
                }

                &__options {
                    @include d-flex($justify: initial);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: 0.3s opacity ease;
                    background-color: rgba(0, 0, 0, 0.438);
                }

                &:hover {
                    img {
                        transform-origin: center center;
                        transform: scale(1.01);
                    }

                    #{ $self }__options {
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}
